@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinner-border {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Bold.eot');
    src: local('Euclid Circular A Bold'), local('EuclidCircularA-Bold'),
        url('../fonts/euclid/EuclidCircularA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Bold.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Bold.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Light.eot');
    src: local('Euclid Circular A Light'), local('EuclidCircularA-Light'),
        url('../fonts/euclid/EuclidCircularA-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Light.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Light.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-BoldItalic.eot');
    src: local('Euclid Circular A Bold Italic'), local('EuclidCircularA-BoldItalic'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-LightItalic.eot');
    src: local('Euclid Circular A Light Italic'), local('EuclidCircularA-LightItalic'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Regular.eot');
    src: local('Euclid Circular A Regular'), local('EuclidCircularA-Regular'),
        url('../fonts/euclid/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Regular.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Regular.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-SemiBold.eot');
    src: local('Euclid Circular A SemiBold'), local('EuclidCircularA-SemiBold'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Medium.eot');
    src: local('Euclid Circular A Medium'), local('EuclidCircularA-Medium'),
        url('../fonts/euclid/EuclidCircularA-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Medium.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Medium.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Italic.eot');
    src: local('Euclid Circular A Italic'), local('EuclidCircularA-Italic'),
        url('../fonts/euclid/EuclidCircularA-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Italic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Italic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.eot');
    src: local('Euclid Circular A SemiBold Italic'), local('EuclidCircularA-SemiBoldItalic'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-MediumItalic.eot');
    src: local('Euclid Circular A Medium Italic'), local('EuclidCircularA-MediumItalic'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/*THEME*/

.bg-active {
    @apply bg-white dark:bg-dark-500;
}

.bg-inactive {
    @apply bg-gray-50 dark:bg-dark-900;
}

.bg-corp{
    @apply bg-sky-500;
}

.border-active{
    @apply border border-gray-200 dark:border-dark-200;
}

.border-b-active{
    @apply border-b border-gray-200 dark:border-dark-200;
}

.border-r-active{
    @apply border-r border-gray-200 dark:border-dark-200;
}

.border-inactive{
    @apply border-gray-500;
}

.border-corp{
    @apply border-sky-500;
}

.border-danger{
    @apply border-red-500;
}

.text-active {
    @apply text-dark-200 dark:text-white;
}

.fill-active{
    @apply fill-dark-200 dark:fill-white;
}

.stroke-active{
    @apply stroke-dark-200 dark:stroke-white;
}

.text-success{
    @apply text-green-500;
}

.text-danger{
    @apply text-red-500;
}

.text-inactive {
    @apply text-gray-500;
}

.text-corp{
    @apply text-sky-500;
}

.stroke-corp{
    @apply stroke-sky-500;
}

.corp-font{
    font-family: 'Euclid Circular A', sans-serif;
}

::-webkit-scrollbar {
    width: 3px;
    @apply bg-inactive;
    height: 90%;
}
::-webkit-scrollbar-thumb {
    width: 3px;
    @apply bg-corp;
}
::-webkit-scrollbar:horizontal{
    height: 3px;
    @apply bg-inactive;
}
::-webkit-scrollbar-thumb:horizontal{
    height: 3px;
    @apply bg-corp;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
    @apply outline-none;
}

body {
    @apply bg-inactive text-active font-normal corp-font duration-200;
}

a {
    @apply cursor-pointer text-corp;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    @apply text-active;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
    @apply text-corp;
}

p {
    @apply mb-2
}
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-medium mb-4;
}

b, strong{
    @apply font-medium;
}

h1{
    @apply text-4xl;
}
h2{
    @apply text-3xl;
}
h3{
    @apply text-2xl;
}
h4{
    @apply text-xl;
}
h5{
    @apply text-lg;
}
h6{
    @apply text-base;
}

ol{
    @apply list-decimal pl-4 mb-2;
}

ul{
    @apply list-disc pl-4 mb-2;
}

ol > li::marker,
ul > li::marker
{
    @apply text-inactive;
}

hr{
    @apply border-active my-3;
}

blockquote{
    @apply pl-4 border-corp border-l-2;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.table{
    @apply w-full overflow-x-auto rounded-lg shadow-md flex;
}

.table > table{
    @apply w-full overflow-hidden;
}
.table > table > thead{
    @apply border-b-active bg-active;
}
.table > table > tbody > tr{
    @apply bg-active;
}
.table > table > tbody > tr:nth-child(odd){
    @apply bg-inactive;
}
.table > table > thead > tr > th{
    @apply px-4 py-3 text-left font-medium tracking-wider;
}
.table > table > tbody > tr > td{
    @apply px-4 py-3 text-active
}

.table.bordered{
    @apply border-active;
}

.table.bordered > table > tbody > tr{
    @apply border-b-active;
}

.table.bordered > table > tbody > tr:last-child{
    @apply border-none;
}

.table.bordered > table > thead > tr > th,
.table.bordered > table > thead > tr > td,
.table.bordered > table > tbody > tr > th,
.table.bordered > table > tbody > tr > td{
    @apply border-r-active;
}
.table.bordered > table > thead > tr > th:last-child,
.table.bordered > table > thead > tr > td:last-child,
.table.bordered > table > tbody > tr > th:last-child,
.table.bordered > table > tbody > tr > td:last-child{
    @apply border-none;
}

form code{
    @apply block max-h-40;
}

pre{
    @apply rounded-md;
    padding: 0.75rem !important;
}

button,
input,
select{
    @apply bg-transparent appearance-none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    @apply outline-none;
}

.video-react{
    @apply overflow-hidden rounded-md;
}

.react-audio-player{
    @apply w-full;
} 

select{
    @apply hover:cursor-pointer;
}

select option {
    @apply bg-active;
}

.custom-container{
    @apply container mx-auto px-3 lg:px-4;
}

.custom-grid{
    @apply grid grid-cols-12 gap-4;
}

.form-group {
    @apply mb-5 relative;
}

.form-group > input, 
.form-group > select, 
.form-group > textarea {
    @apply border-t-0 border-l-0 border-r-0 border-b border-corp bg-transparent w-full text-active py-3 pl-8;
}

.form-group > label {
    @apply absolute left-8 top-3 pointer-events-none duration-200 z-0 bg-inherit text-inactive;
}

.form-group > label.label-error{
    @apply text-danger -top-2.5 text-xs left-0;
}

.form-group > input:focus ~ label,
.form-group > input:not(:placeholder-shown) ~ label,
.form-group > select:focus ~ label,
.form-group > select:not(:placeholder-shown) ~ label,
.form-group > textarea:focus ~ label,
.form-group > textarea:not(:placeholder-shown) ~ label
{
    @apply -top-2.5 text-xs left-0 text-inactive;
}

.form-group > input:focus ~ label.label-error,
.form-group > input:not(:placeholder-shown) ~ label.label-error,
.form-group > select:focus ~ label.label-error,
.form-group > select:not(:placeholder-shown) ~ label.label-error,
.form-group > textarea:focus ~ label.label-error,
.form-group > textarea:not(:placeholder-shown) ~ label.label-error
{
    @apply text-danger -top-2.5 text-xs left-0;
}

.form-group > svg{
    @apply absolute text-2xl top-3 text-inactive;
}

.form-group-file input{
    @apply hidden;
}

.form-group-file label{
    @apply block border border-corp border-dashed p-4 rounded-md text-center cursor-pointer hover:text-white duration-200;
}

.form-group-file label:hover{
    @apply bg-corp;
}

.form-group-file label.label-error{
    @apply text-danger hover:text-white;
}

.form-group-file label svg{
    @apply text-2xl m-auto;
}

.custom-radio > input, 
.custom-radio-checkbox > input, 
.custom-checkbox > input {
    @apply absolute -z-10 opacity-0
}
  
.custom-radio > span, 
.custom-radio-checkbox > span,
.custom-checkbox > span {
    @apply inline-flex items-center select-none cursor-pointer text-inactive;
}
  
.custom-radio > span::before,
.custom-radio-checkbox > span::before
 {
    content: '';
    @apply inline-block w-4 h-4 flex-shrink-0 flex-grow-0 border border-inactive rounded-full mr-2 bg-no-repeat bg-center;
    background-size: 50% 50%;
}

.custom-checkbox > span::before {
    content: '';
    @apply inline-block w-4 h-4 flex-shrink-0 flex-grow-0 border border-inactive rounded-sm mr-2 bg-no-repeat bg-center;
    background-size: 50% 50%;
}

.custom-radio > input:not(:disabled):not(:checked) + span:hover::before,
.custom-radio-checkbox > input:not(:disabled):not(:checked) + span:hover::before,
.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
    @apply border-corp;
}

.custom-radio > input:not(:disabled):not(:checked) + span.error,
.custom-radio-checkbox > input:not(:disabled):not(:checked) + span.error,
.custom-checkbox > input:not(:disabled):not(:checked) + span.error {
    @apply text-danger;
}

.custom-radio > input:not(:disabled):not(:checked) + span.error::before,
.custom-radio-checkbox > input:not(:disabled):not(:checked) + span.error::before,
.custom-checkbox > input:not(:disabled):not(:checked) + span.error::before {
    @apply border-danger;
}

.custom-radio > input:not(:disabled):active + span::before,
.custom-radio-checkbox > input:not(:disabled):active + span::before,
.custom-checkbox > input:not(:disabled):active + span::before {
    @apply bg-inactive border-inactive;
}
  
.custom-radio > input:focus:not(:checked) + span::before,
.custom-radio-checkbox > input:focus:not(:checked) + span::before,
.custom-checkbox > input:focus:not(:checked) + span::before {
    @apply border-corp;
}
  
.custom-radio > input:checked + span::before {
    @apply border-corp bg-corp;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio > input:checked + span,
.custom-radio-checkbox > input:checked + span,
.custom-checkbox > input:checked + span{
    @apply text-corp;
}

.custom-radio-checkbox > input:checked + span::before,
.custom-checkbox > input:checked + span::before {
    @apply border-corp bg-corp;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
  
.custom-radio > input:disabled + span::before,
.custom-checkbox > input:disabled + span::before {
    @apply bg-gray-400;
}

.btn {
    @apply w-fit flex items-center rounded-lg px-2 py-1.5 text-white duration-200; 
}

.btn-wrap{
    @apply flex gap-2;
}

.btn-wrap-lg{
    @apply flex max-md:flex-col gap-4;
}

.btn-group > .btn{
    @apply px-2;
}

.btn.btn-sm{
    @apply px-1.5 py-1 text-sm;
}

.btn.btn-lg{
    @apply px-3 py-2;
}

.btn-primary{
    @apply bg-corp text-white border-corp border;
}

.btn-primary:hover{
    @apply bg-transparent text-corp;
}

.btn-outline-primary{
    @apply bg-transparent border border-corp text-corp;
}

.btn-outline-primary:hover{
    @apply bg-corp border border-corp text-white;
}

.btn-light{
    @apply bg-inactive text-active border-active border;
}

.btn-light:hover{
    @apply bg-active text-active;
}

.btn-danger{
    @apply bg-red-500 text-white border-red-500 border;
}

.btn-danger:hover{
    @apply bg-transparent text-red-500;
}

.btn-outline-danger{
    @apply bg-transparent border border-red-500 text-red-500;
}

.btn-outline-danger:hover{
    @apply bg-red-500 border border-red-500 text-white;
}

.btn-up,
.btn-down,
.btn-delete,
.btn-edit{
    @apply rounded-full p-1.5 border-active text-inactive duration-200;
}

.btn-up:hover,
.btn-down:hover,
.btn-edit:hover{
    @apply border-corp text-corp;
}

.btn-delete:hover{
    @apply border-danger text-danger;
}

.btn > span {
    @apply ml-1;
}

.btn svg{
    @apply text-lg;
}

.btn-loding-circle {
    animation: 0.75s linear infinite spinner-border;
}

.badge{
    @apply text-xs font-medium px-2 py-1 rounded-xl mr-2 inline-block;
}

.badge-lg{
    @apply text-base px-3 py-2 rounded-xl;
}

.badge-light{
    @apply border-active bg-inactive text-active;
}

.badge-primary{
    @apply bg-corp text-white;
}

.badge-outline-primary{
    @apply border-corp border text-corp;
}

.badge-success{
    @apply bg-sky-200 text-sky-500 border border-sky-500 dark:bg-transparent;
}

.card {
    @apply bg-active rounded-lg max-w-full relative border-active overflow-hidden;
}

.card.card-inactive{
    @apply bg-inactive;
}

.card-header{
    @apply px-6 pt-6;
}

.card-body{
    @apply p-6 overflow-y-auto overflow-x-hidden;
    max-height: 90vh;
}

.card-bg{
    @apply bg-cover bg-center bg-no-repeat;
}

.list-group{
    @apply bg-active rounded-md border-active px-4;
}

.list-group > li{
    @apply py-4 border-b-active duration-200 list-none;
}

.list-group > li.section{
    @apply border-dashed border-b-2;
}

.list-group > li:last-child{
    @apply border-none;
}

.list-group > li:first-child .btn-up{
    @apply hidden;
}

.list-group > li:last-child .btn-down{
    @apply hidden;
}

.list-group > li a{
    @apply text-corp;
}

.modal-backdrop{
    @apply fixed w-full h-full top-0 bottom-0 left-0 right-0 z-50 duration-200 flex justify-center items-center p-4 opacity-0 pointer-events-none;
    background-color: rgb(0 0 0 / 50%);
}

.modal-backdrop.show{
    @apply opacity-100 pointer-events-auto;
}

.modal{
    @apply bg-active px-6 pt-8 pb-6 lg:px-8 lg:pt-10 lg:pb-8 shadow-md rounded-lg duration-200 w-full relative overflow-hidden;
    transform: translateY(-2rem)
}

.modal.modal-sm{
    @apply max-w-sm;
}

.modal.modal-md{
    @apply max-w-md;
}

.modal.modal-lg{
    @apply max-w-lg;
}

.modal.modal-xl{
    @apply max-w-xl;
}

.modal.modal-2xl{
    @apply max-w-2xl;
}

.modal.modal-3xl{
    @apply max-w-3xl;
}

.modal.modal-4xl{
    @apply max-w-4xl;
}

.modal-backdrop.show > .modal{
    transform: translateY(0rem)
}

.modal-body{
    @apply overflow-y-auto overflow-x-hidden;
    max-height: 90vh;
}

.modal-footer{
    @apply pt-4;
}

.modal-close-button{
    @apply absolute right-4 top-4 text-xl cursor-pointer;
}

.full-overlay {
    @apply fixed w-full h-full left-0 top-0 bg-inactive opacity-90 z-20 flex flex-col justify-center items-center duration-200;
}

.overlay {
    @apply absolute w-full h-full left-0 top-0 bg-active opacity-90 z-20 flex flex-col justify-center items-center duration-200;
}

.overlay-loding-circle {
    @apply w-10 h-10 border-4 border-corp rounded-full;
    border-bottom-color: transparent;
    animation: 0.75s linear infinite spinner-border;
}

.breadcrumb{
    @apply text-inactive my-2;
}

.breadcrumb > a{
    @apply inline-block mr-6 relative;
}

.breadcrumb > a:after{
    content: "\203A";
    @apply absolute -right-3.5 text-inactive pointer-events-none;
}

.db__header{
    @apply w-full bg-active flex justify-between items-center px-3 border-b-active;
    height: 70px;
}

.db__header .logo{
    @apply w-36;
}

.db__sidebar__menu{
    @apply bg-active px-3 fixed z-20 border-r-active;
    height: calc(100vh - 69px);
    top: 69px;
}

.db__sidebar__menu a{
    @apply py-3 duration-200 text-active border-b-active flex items-center;
}

.db__sidebar__menu a:hover{
    @apply text-corp;
}

.db__sidebar__menu a:last-child{
    @apply pb-0 border-none;
}

.db__sidebar__menu svg{
    @apply text-2xl;
}

.db__sidebar__menu span{
    @apply ml-1.5 whitespace-nowrap hidden;
}

.db__sidebar__menu:hover span{
    @apply block;
}

.db__content{
    @apply pt-3 pb-3 pr-3 w-full relative overflow-auto pl-16;
    height: calc(100vh - 70px);
}

.dropdown-menu{
    @apply hidden rounded-lg shadow-md bg-active text-sm border-active z-10 px-3 border my-2;
}

.dropdown-menu.show{
    @apply block;
}


.dropdown-menu li{
    @apply border-b-active py-2.5 list-none;
}

.dropdown-menu li:first-child{
    @apply pt-2.5;
}

.dropdown-menu li:last-child{
    @apply  border-b-0;
}

.dropdown-menu li a{
    @apply flex items-center text-active duration-200;
}

.dropdown-menu li a:hover{
    @apply flex items-center text-corp;
}

.dropdown-menu li a svg{
    @apply text-lg mr-1;
}

.quill{
    @apply mb-4;
}

.ql-snow .ql-picker.ql-size{
    @apply mr-1 mt-1.5 w-auto;
}

.ql-snow .ql-picker-label{
    @apply pl-0;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg{
    @apply -right-4;
}

.ql-snow.ql-toolbar button, 
.ql-snow .ql-toolbar button{
    border: 1px solid;
    @apply mr-1 mt-1.5 border-active border rounded-md;
}

.quill.kk .ql-picker-label[data-value=small]::before,
.quill.kk .ql-picker-item[data-value=small]::before
{
    content: "Кішкентай" !important;
}

.quill.ru .ql-picker-label[data-value=small]::before,
.quill.ru .ql-picker-item[data-value=small]::before
{
    content: "Мелкий" !important;
}

.quill.kk .ql-picker-label::before,
.quill.kk .ql-picker-item::before
{
    content: "Орташа" !important;
}

.quill.ru .ql-picker-label::before,
.quill.ru .ql-picker-item::before
{
    content: "Средний" !important;
}

.quill.kk .ql-picker-label[data-value=large]::before,
.quill.kk .ql-picker-item[data-value=large]::before
{
    content: "Үлкен" !important;
}

.quill.ru .ql-picker-label[data-value=large]::before,
.quill.ru .ql-picker-item[data-value=large]::before
{
    content: "Большой" !important;
}

.quill.kk .ql-picker-label[data-value=huge]::before,
.quill.kk .ql-picker-item[data-value=huge]::before
{
    content: "Өте үлкен" !important;
}

.quill.ru .ql-picker-label[data-value=huge]::before,
.quill.ru .ql-picker-item[data-value=huge]::before
{
    content: "Очень большой" !important;
}

.ql-toolbar.ql-snow{
    @apply bg-active border-active rounded-bl-none rounded-br-none rounded-md corp-font;
}

.ql-container.ql-snow{
    @apply bg-active border-active rounded-tl-none rounded-tr-none rounded-md corp-font;
}

.ql-snow .ql-stroke {
    @apply stroke-active;
}

.ql-snow .ql-fill{
    @apply fill-active;
}

.ql-snow .ql-picker{
    @apply text-active;
}

.ql-picker-options{
    @apply text-active bg-active;
}

.ql-editor{
    min-height: 150px;
    max-height: 40vh;
}

.ql-editor.ql-blank::before{
    @apply text-inactive;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label{
    @apply border-active;
}

.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter{
    @apply stroke-corp;
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected{
    @apply text-corp;
}

.ql-size-small{
    @apply text-xs;
}

.ql-size-large{
    @apply text-2xl;
}

.ql-size-huge{
    @apply text-4xl;
}

.lesson-block,
.test-question-block{
    @apply mb-4;
}

.lesson-block:last-child,
.test-question-block:last-child{
    @apply mb-0;
}

.lesson-block.edit,
.test-question-block.edit{
    @apply bg-active border-active rounded-md p-4 duration-200;
}

.lesson-block.edit:hover,
.test-question-block.edit:hover{
    @apply border-corp;
}

.lesson-block:first-child .btn-up,
.test-question-block:first-child .btn-up{
    @apply hidden;
}

.lesson-block:last-child .btn-down,
.test-question-block:last-child .btn-down{
    @apply hidden;
}